body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    background-size: cover;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 16%;
    top: 84%;
    z-index: 1;
    color: #9BF3F0;
}

.controls {
    display: inline;
}

#controls {
    padding-top: 1.5vh;
    display: block;
}

.btn {
    background-color: transparent;
    border: none;
    padding: 1vh;
    font-size: 4vh;
    cursor: pointer;
    color: inherit;
    opacity: 1;
}
  
.btn:hover {
    opacity: 0.8;
}

.file-input {
    z-index: -2;
    position: absolute;
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
}

.progress-bar-bg {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #9BF3F0;
    height: 1vh;
    width: 100%;
}

.progress-bar {
    position: absolute;
    background-color: #9BF3F0;
    height: 1vh;
}

.title {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 2vh;
    padding: 2vh;
    display: inline;
}

.timer {
    float:right;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 2vh;
    padding: 3vh 2vh 2vh 2vh;
}